<h2>How does bike-sharing work?</h2>

<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<form action='/page3' method="get">
<p> To go from your origin to your destination with a bike-sharing system… </p>
<ul>
  <li>You walk to a station from your origin</li>
  <li>You pick a bike</li>
  <li>You ride your bike</li>
  <li>You return your bike to ANY station</li>
  <li>You walk to your final destination</li>
</ul>

<p> Price : </p>
<ul>
  <li>you can use the bike-sharing program with or without a membership</li>
  <li>if you decide to get a membership, the price of your rides will be lowered”</li>
</ul>
<input type="submit" value="Next"/>
</form>
