<h1>Welcome to the bike sharing at Berkeley Survey</h1>
<p>This survey will last less than 5 minutes and is about your habbits to commute in the Bay Area. Thanks for helping us !</p>
<form method="post">
  <input type="submit" value="New Survey"/>
</form>
<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ermoonlighter%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
