<h1>Welcome to the bike sharing at Berkeley Survey</h1>
<h1><%= title_page('page0') %></h1>
<p>This survey will last less than 5 minutes and is about your habbits to commute in the Bay Area. Thanks for helping us !</p>
<form method="post">
  <input type="submit" value="New Survey"/>
</form>
